:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #fff;
}

/* ============= Generals ============= */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--navy-blue-color);
}
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}

/* ============= Header ============= */
.page-header {
  border-bottom: 1px solid var(--cornflower-color);
  padding: 24px 0;
}
.page-header > .container {
  display: flex;
}

/* ===== Navigation ===== */
.page-nav {
  display: flex;
  column-gap: 76px;
}
/* ===== Logo ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: currentColor;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--iris-color);
}
.nav-list {
  display: flex;
  column-gap: 40px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}

/* ===== Contacts ===== */
.page-address {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  column-gap: 40px;
  list-style: none;
  font-style: normal;
}
.contacts-link {
  color: var(--slate-color);
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean-color);
}

/* ============= index.html ============= */
/* ============= Main ============= */

/* ===== Hero ===== */
.hero {
  padding: 188px 0;
  background-color: var(--navy-blue-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  color: var(--white-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris-color);
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-color);
}

/* ===== Features ===== */
.features-list {
  display: flex;
  margin-left: calc(-1 * 24px);
  list-style: none;
}
.features-item {
  flex-basis: calc(100% / 4 - 24px);
  margin-left: 24px;
}
.feature-icon-container {
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* ===== About ===== */
.about {
  padding-top: 0;
}
.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.about-list {
  display: flex;
  column-gap: 24px;
  list-style: none;
}

/* ===== Team ===== */
.team {
  background-color: var(--cloud-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-cards {
  display: flex;
  column-gap: 24px;
  list-style: none;
}
.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  padding: 32px 16px;
}
.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-card-text {
  color: var(--slate-color);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 8px 0;
}

/* ===== Social-Team ===== */
.social-list {
  list-style: none;
  display: flex;
  column-gap: 24px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}
.social-icon {
  fill: currentColor;
}

/* ============= portfolio.html ============= */
/* ============= Main ============= */
.projects {
  padding-top: 96px;
}
/* ===== Filter ===== */
.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  list-style: none;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  border: 1px solid var(--ocean-color);
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.active {
  border: 1px solid var(--ocean-color);
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== Projects ===== */
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 24px);
  margin-top: calc(-1 * 48px);
}
.project-card {
  list-style: none;
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}
.project-cards-content {
  padding: 32px 0;
  padding-left: 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-card-text {
  color: var(--slate-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============= Footer ============= */
.page-footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}
.page-footer .logo {
  color: var(--cloud-color);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
  max-width: 264px;
  margin-top: 16px;
}
